:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f5f2f2;
  height: 100vh;
}

.product-image{
  max-width: 400px;
  width: 100%;
 /* max-height: 100%;*/
}

.rating span {
  color: #ffc000;
}

img.large {
 max-width: 100%;
}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solif #f08000;
  color: #f08000;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000;
}

/* header */

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

a.header-link,
.header-link > a {
  border: 1px rgb(33, 37, 41) solid;
  border-radius: 2px;
  color: white !important;
  font-weight: bold;
}

a.header-link:hover,
.header-link > a:hover {
  color: white;
  border: 1px white solid;
}

.header .dropdown-menu,
.header .dropdown-item {
  color: black !important;
  background-color: white;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* .main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
} */

.product-card {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 100px;
  padding-bottom: 10px;
}

.product-card .card-img-top {
  flex: 1;
  object-fit: cover;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header .dropdown-item a:hover {
  border: 1px rgb(33, 37, 41) solid;
}

.the-con {
  margin-bottom: 20px;
}

.borderless-link  {
  border: none;
}

.borderless-dropdown {
  border: none;
}

.cart-badge {
  position: absolute;
  color: #f08000;
  font-weight: bold;
  margin-left: 16px;
  margin-top: -3px;
}

.header-link .nav-link {
  border: none;
}

.the-background {
  background-color: #5581A1;
}

.the-grey {
  background-color: #C4C4C4;
  display: flex;
  height: 100vh;
}

.tommy {
  display: grid;
  grid-template-columns: 2fr 8fr;
}


@media (max-width: 768px) {
  .tommy {
    grid-template-columns: 2fr 3fr;
  }

  .main {
    flex: 1 !important;
  }
}

.main {
  flex-grow: 1;
  display: grid;
  grid-template-rows: 10px 4fr 2fr;
  padding: 10px;
  /* height: 100vh; */
}

.sidebar {
  display: grid;
  grid-template-rows: 30% 50% 20%;
}

.last-box {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.top-sales {
  /* border: 1px solid black; */
  background-color: #5d7e96;
  margin: 10px;
  /* width: 100vw; */
}

/* .a-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
/* Testing */

/* @media (max-width: 50%) {
  .tommy {
    grid-template-columns: 1fr;
  }
} */
/* 
.col1 {
  height: 100vh;
}

.main {
  height: 100vh;
}

.the-header {
  height: 100vh;
} */
/* .grand-container {
  padding: 0;
  margin: 0;
  box-shadow: 1px 1px 1px 1px green;
} */

/* .head-container,
.body-container,
.foot-container {
  width: 100%;
} */

/* .col,
.row {
  margin: 0;
  padding: 0;
} */

/* .the-con {
  margin: 0;
  padding: 0;
} */

.the-head {
  background-color: #5581A1;
}

/* .body-part {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 2;
  transition: flex 0.3s;
}

.the-grey.main {
  flex: 8;
}

@media (max-width: 50%) {
  .body-part {
    flex-direction: column;
  }

  .sidebar {
    flex: 0;
  }

  .main {
    flex: 10;
  }
} */
/* .body-container {
  padding: 0;
  margin: 0;
}

.head-container {
  padding: 0;
  margin: 0;
}

.foot-container {
  padding: 0;
  margin: 0;
} */